:root {
	--basic-color: #333333;
	--heading-color: #000000;
	--rating-color: #666666;
	--selection-color: #81B3D2;
	--selection-color-darker: #669EC0;
	--selection-color-dark: #5496BD;
	--additional-color: #766357;
	--additional-color-darker: #604E43;
	--additional-color-dark:#503E33;
	--disabled-color: #6A6A6A;
	--box-shadow-color: rgba(0, 1, 1, 0.2);
	--accent-color: #FFFFFF;
	--body-color: #DCDCDC;
	--form-color: #F2F2F2;
	--form-color-darker: #EBEBEB;
	--advantages-color: #EEEEEE;
	--border-color: #E5E5E5;
	--active-link-color: rgba(255, 255, 255, 0.3);
	--copyright-active-link-color: #BDBBBC;
	--toggle-box-shadow-color: rgba(171, 171, 171, 0.3);
	--toggle-background-color: #ABABAB;
}
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--basic-color);
	background-color: var(--body-color);
	text-transform: uppercase;

}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
	width: 1200px;
	margin: 0px auto;
	background-color: var(--accent-color);
	position: relative;
	box-shadow: 0px 0px 15px 5px var(--box-shadow-color);
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
/*HEADER*/
nav {
	position: relative;
}
.logo {
	position: absolute;
	left: 530px;
}
.main-nav {
	padding: 0;
	margin: 0;
	padding-top: 14px;
	padding-bottom: 15px;
	line-height: 26px;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.main-nav li {
	width: 25%;
	display: block;
	box-sizing: border-box;
}
.main-nav li:first-child {
	padding-left: 72px;
}
.main-nav li:last-child {
	padding-right: 72px;
}
.main-nav li:nth-child(3),
.main-nav li:last-child {
	text-align: right;
}
.main-nav a {
	color: var(--heading-color);
}
.main-nav a:focus,
.main-nav a:hover {
	color: var(--selection-color);
}
.main-nav a:active {
	color: var(--heading-color);
	opacity: 0.3;
}
.main-nav a:not([href]) {
	color: var(--additional-color);
}
.welcome {
	background-color: var(--selection-color-darker);
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
}
.welcome img {
	width: 458px;
	height: 352px;
	margin-top: 76px;
	margin-bottom: 76px;
}
/*MAIN*/
h1.main-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--heading-color);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.blank {
	margin-top: 50px;
}
.main-title {
	margin-top: 41px;
	margin-left: 368px;
	margin-right: 365px;
	margin-bottom: 43px;
}
.description {
	margin: 0;
	line-height: 26px;
	text-align: center;
}
/*ADVANTAGES*/
.advantages {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	margin-top: 51px;
}
.advantages img {
	width: 800px;
	height: 256px;
}
.image1 {
	grid-column-start: 2;
	grid-column-end: 4;
}
.image2 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.advantages-item {
	width: 400px;
	box-sizing: border-box;
	text-align: center;
}
.advantages-item h3{
	position: relative;
	font-size: 21px;
	line-height: 21px;	
	margin: 0;
	margin-bottom: 26px;
	margin-top: 48px;	
}
.advantages-item p {
	margin: 0;
}
.icon-item {
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 111px;
	padding-bottom: 82px;
}
.icon-item-1 h3:before {
	content: "";
	position: absolute;
	bottom: 46px;
	left: 107px;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.png");
	
}
.icon-item-2 h3:before {
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	bottom: 48px;
	left: 107px;
	background-image: url("../img/icon-2.png");
}
.icon-item-3 h3:before {
	content: "";
	position: absolute;
	width: 64px;
	height: 77px;
	bottom: 48px;
	left: 112px;
	background-image: url("../img/icon-3.png");
}
.selection-item {
	background-color: var(--selection-color);
	color: var(--accent-color);
}

.selection-item p,
.gray-item p {
	margin: 0;
	margin-top: 23px;
}
.gray-item {
	background-color: var(--advantages-color);
	padding-bottom: 54px;
}

/*SEARCH HOTELS. Блок "Заинтересовались?"*/
.reservation-section {
	position: relative;
	text-align: center;
}
h2.reservation-title {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	color: var(--heading-color);
	text-align: center;
	margin: 0;
	margin-bottom: 32px;
}
.reservation-title {
	margin-top: 57px;
	margin-bottom: 32px;
}
.reservation {
	line-height: 25px;
	text-align: center;
	color: var(--heading-color);
	margin: 0 auto;
	margin-bottom: 43px;
}
.city-map {
	position: absolute;
	top: 236px;
	left: 0;
	z-index: 0;
}
/*SEARCH FORM. (Поиск гостиницы в Седоне)*/
.search-title {
	font-family: inherit;
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: var(--additional-color);
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	border: none;
	width: 567px;
	padding-top: 30px;
	padding-bottom: 30px;
	cursor: pointer;
	margin-bottom: 473px;
	outline: none;
}
.search-title:hover {
	background-color: var(--additional-color-darker);
}
.search-title:active {
	background-color: var(--additional-color-dark);
	color: var(--active-link-color);
}
/*Form*/
/*Общие стили*/
.search-form {
	display: none;
	z-index: 100;
	position: absolute;
	top: 235px;
	left: 316px;
	box-sizing: border-box;
	width: 567px;
	background-color: var(--accent-color);
	padding-top: 54px;
	padding-left: 55px;
	padding-right: 55px;
}
.form-show {
	display: block;
	animation: bounce 0.3s;
}
.form-error {
	animation: shake 0.4s;
}
.search-form .line  {
	margin: 0;
	margin-bottom: 29px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-form label {
	display: block;
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
}
.search-form input {
	background-color: var(--form-color);
	box-sizing: border-box;
	border: 0;
	padding: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 13px;
	line-height: 26px;
	color: var(--heading-color);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 1;
}
.search-form input:hover {
	background-color: var(--form-color-darker);
}
.search-form input:focus {
	background-color: var(--accent-color);
	border: 2px solid var(--border-color);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 11px;
	outline: none;
}
/*Линия 1*/
.label-arr-date {
	margin-right: 23px;
}
.calendar-btn {
	width: 38px;
	height: 38px;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--form-color);
	cursor: pointer;
}
.calendar-btn:hover svg path {
	fill: var(--heading-color);	
}
.calendar-btn:active svg path {
	fill: var(--selection-color);
}
/*Линия 2*/
.label-dep-date {
	margin-right: 19px;
}
/*Линия 3*/
.line-part {
	display: flex;
	align-items: center;
}
.label-adult {
	margin-right: 41px;
}
.label-child {
	margin-right: 29px;
}
.change-btn {
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--form-color);
	border: none;
	padding: 0;
	cursor: pointer;
}
.change-btn:hover svg path, 
.change-btn:hover svg rect {
	fill: var(--heading-color);
}
.change-btn:active svg path, 
.change-btn:active svg rect {
	fill: var(--selection-color);
}

.value-part {
	display: flex;
}
.value-input {
	width: 36px;
}
.search-btn {
	width: 100%;
	height: 57px;
	font: inherit;
	background-color: var(--selection-color);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	border: none;
	color: var(--accent-color);
	text-transform: uppercase;
	margin-bottom: 55px;
	margin-top: 26px;
	cursor: pointer;
	outline: none;
}
.search-btn:hover {
	background-color: var(--selection-color-darker);
}
.search-btn:active {
	background-color: var(--selection-color-dark);
	color: var(--active-link-color);
}

/*FILTER & SORT*/
/*filter*/
.filters {
	padding: 26px 72px 7px 72px;
	background-image: url("../img/filter-background.jpg");
	background-color: var(--additional-color);
}
.filter-form {
	width: 1056px;
	display: flex;
	justify-content: space-between;
	color: var(--accent-color);	
}
.form-group:nth-child(2) {
	margin-right: auto;
	margin-left: 119px;
}
.filter-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.filter-form legend {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 25px;
}
.form-group:last-child legend {
	margin-bottom: 11px;
}
.value-list .filter-option {
	margin-bottom: 25px;
	padding-left: 39px;
}
 .value-list {
 	margin: 0;
 	padding: 0;
 }
 .filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}
.filter-input-checkbox + label::before {/*Просто*/
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	width: 19px;
	height: 19px;
	border: 2px solid var(--accent-color);
	border-radius: 3px;
}
.filter-input-checkbox:checked + label:after {/*Чекнутый*/
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.filter-input-checkbox:disabled + label::before { /*Просто Заблокированный*/
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	width: 19px;
	height: 19px;
	border: 2px solid var(--disabled-color);
	border-radius: 3px;
}
.filter-input-checkbox:checked:disabled + label:after {/*Чекнутый Заблокированный*/
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-on-disabled.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*Часть 3*/
.range {
	width: 319px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	border: 2px solid var(--accent-color);
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 7px;
}
.range-part {
	width: 50%;
}
.range-part:first-child {
	border-right: 2px solid var(--accent-color);
	padding-right: 2px;
}
.filter-form input[type=text] {
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	width: 50px;
	padding: 0;
}
.filter-form input[type=text]:focus {
	outline: none;
}
.range-part:first-child label {
	margin-left: 65px;
}
.range-part:last-child label {
	margin-left: 52px;
}
.filter-btn {
	color: inherit;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid var(--accent-color);
	border-radius: 2px;
	margin-left: 85px;
	margin-top: 32px;
	padding-top: 7px;
	padding-left: 34px;
	padding-right: 33px;
	padding-bottom: 9px;
	cursor: pointer;
}
.filter-btn:hover {
	background-color: var(--accent-color);
	color: var(--heading-color);
}
/*Range Filter*/
.range-filter {
	width: 312px;
	margin-top: 18px;
	padding-left: 5px;
	position: relative;
}
.range-filter .scale {
	height: 2px;
	background-color: var(--active-link-color);
}
.range-filter .bar {
	width: 80%;
	height: 2px;
	background-color: var(--accent-color);
}
.range-filter .toggle {
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--accent-color);
 	background-color: var(--toggle-background-color);
 	border-radius: 50%;
	position: absolute;
	box-shadow: 0px 2px var(--toggle-box-shadow-color);
	top: -10px;
}
.range-filter .toggle:hover {
	cursor: pointer;
	border: 10px solid var(--accent-color);
}
.toggle-min {
	left: 0px;	
}
.toggle-max {
	left: 251px;
}
/*sort*/
.sort {
	display: flex;
	align-items: center;
	padding-top: 19px;
	padding-bottom: 25px;
	padding-left: 73px;
	padding-right: 73px;
}
.sort-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
	margin: 0;
	margin-right: 46px;
}
.sort-options {
	display: flex;
	margin-right: auto;
	font-size: 12px;
	line-height: 18px;
	color: var(--heading-color);
}
.sort-options a {
	color: var(--heading-link-color);
	opacity: 0.3;
	border-bottom: 1px dotted var(--selection-color);
}
.sort-options a:hover {
	color: var(--selection-color);
	opacity: 1;
}
.sort-options a:active {
	color: var(--heading-color);
	border: none;
	opacity: 1;
}
a.active {
	color: var(--selection-color);
	border: none;
	opacity: 1;
}
.value-sort {
	display: flex;
}
.value-sort li {
	margin-right: 33px;
}
.sort-links {
	margin-top: 6px;
}
.sort-link {
	margin-left: 9px;
}
.sort-link:hover path {
	fill: var(--heading-color);
}
.sort-link:active path,
.sort-active path{
	fill: var(--selection-color);
}
/*FOOTER*/
.main-footer {
	width: 100%;
	display: grid;	
	grid-template-columns: 400px 400px 400px;
	padding-top: 25px;
	padding-bottom: 28px;
	background-color: var(--accent-color);
	opacity: 0.9;
}
/*Блок 1*/
.contacts {
	text-align: center;
	padding-left: 74px;
}
.contacts p {
	margin: 0;
	margin-bottom: 9px;
}
.contacts a {
	color: var(--heading-color);
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}
/*Блок 2*/
.social {
	display: flex;
	justify-content: center;
}
.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--selection-color);
	width: 46px;
	height: 48px;
	margin-right: 6px;
	margin-top: 11px;
}
.social-twitter {
	margin-left: 9px;
}
.social-btn:hover {
	background-color: var(--selection-color-darker);
}
.social-btn:active {
	background-color: var(--selection-color-dark);
}
.social-btn:active path {
	fill: var(--active-link-color);
}
/*Блок 3*/
.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding-right: 73px;
}

.copyright span{
	line-height: 26px;
	color: var(--heading-color);
	margin-right: 8px;
}
.copyright a {
	display: block;
	width: 114px;
	height: 40px;	
}
.copyright a:hover path {
	fill: var(--selection-color);
}
.copyright a:active path {
	fill: var(--copyright-active-link-color);
}
/*HOTEL CARD*/
.hotel-item {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--border-color);
	padding-top: 24px;
	padding-bottom: 30px;
	padding-left: 73px;
	padding-right: 72px;
}
.hotel-card {
	width: 258px;
	position: relative;
	margin-right: auto;
	align-self: flex-start;
}
.hotel-foto {
	margin-top: 6px;
	margin-right: 29px;
}
.hotel-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}
.hotel-title a {
	color: var(--heading-color);
}
.hotel-title a:hover {
	color: var(--selection-color);
}
.hotel-title a:active {
	opacity: 0.3;
}
.hotel-description {
	margin: 0;
	margin-bottom: 16px;
}
.hotel-item:last-child {
	border: 1px solid var(--border-color);
}
.hotel-item span {
	margin-right: 60px;
}
.hotel-item:nth-child(odd) span {
	margin-right: 35px;
}
.hotel-item:last-child span {
	margin-right: 18px;
}
.btn {
	position: absolute;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent-color);
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
.btn-info {
	background-color: var(--selection-color);
	width: 110px;
	left: 0;
}
.btn-info:hover {
	background-color: var(--selection-color-darker);
}
.btn-info:active {
	background-color: var(--selection-color-dark);
	color: var(--active-link-color);
}
.btn-order {
	background-color: var(--additional-color);	
	right: 0;
	width: 142px;
}
.btn-order:hover {
	background-color: var(--additional-color-darker);
}
.btn-order:active {
	background-color: var(--additional-color-dark);
	color: var(--active-link-color);
}
/*Rating*/
.hotel-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
.hotel-rating p {
	background-color: var(--form-color);
	color: var(--rating-color);
	padding: 3px 12px 3px 15px;
	margin: 0;
	margin-top: 45px;
}
.stars{
	background-image: url("../img/star.svg");
	background-repeat: space;
	height: 18px;
	margin-top: 4px;
}
.stars-4 {
	width: 90px;
}
.stars-3 {
	width: 65px;
}
.stars-2 {
	width: 40px;
}
/*Animations*/
@keyframes bounce {
  0% {
    transform: scaleY(0) translateY(-100%);
  }

  100% {
    transform: scaleY(1) translateY(0);
  }
}

  @keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}