:root {
	--basic-color: #333333;
	--heading-color: #000000;
	--accent-color: #FFFFFF;
	--selection-color: #81B3D2;
	--selection-color-darker: #669EC0;
	--selection-color-dark: #5496BD;
	--additional-color: #766357;
	--additional-color-darker: #604E43;
	--additional-color-dark:#503E33;
	--form-color: #F2F2F2;
	--form-color-darker: #EBEBEB;
	--advantages-color: #EEEEEE;
	--border-color: #E5E5E5;
}
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--basic-color);
	background-color: #dcdcdc;
	text-transform: uppercase;

}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
	width: 1200px;
	margin: 0px auto;
	background-color: var(--accent-color);
	position: relative;
}
.wrapper-intro {
	width: 1054px;
	margin: 0px auto;
}

li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
/*HEADER*/
nav {
	position: relative;
}
.logo {
	position: absolute;
	left: 530px;
}
.main-nav {
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 26px;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.main-nav li {
	width: 25%;
	display: block;
	box-sizing: border-box;
}
.main-nav li:first-child {
	padding-left: 72px;
}
.main-nav li:last-child {
	padding-right: 72px;
}
.main-nav li:nth-child(3),
.main-nav li:last-child {
	text-align: right;
}
.main-nav a {
	color: var(--heading-color);
}
.main-nav a:focus,
.main-nav a:hover {
	color: var(--selection-color);
}
.main-nav a:active {
	color: var(--heading-color);
	opacity: 0.3;
}
.main-nav a:not([href]) {
	color: var(--additional-color);
}
.welcome {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
}
.welcome img {
	width: 458px;
	height: 352px;
	margin-top: 74px;
	margin-bottom: 80px;
}
/*MAIN*/
h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--heading-color);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.main-title {
	margin-top: 40px;
	margin-left: 365px;
	margin-right: 365px;
	margin-bottom: 43px;
}
.description {
	margin: 0;
	line-height: 26px;
	text-align: center;
}
/*ADVANTAGES*/
.advantages {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	margin-top: 51px;
}
.image1 {
	grid-column-start: 2;
	grid-column-end: 4;
}
.image2 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.advantages-item {
	width: 400px;
	box-sizing: border-box;
	text-align: center;
}
.advantages-item h3{
	font-size: 21px;
	line-height: 21px;	
}
.selection-item {
	background-color: var(--selection-color);
	color: var(--accent-color);
}
.selection-item h3,
.gray-item h3 {
	margin: 0;
	margin-top: 47px;
	margin-bottom: 28px;
}
.selection-item p,
.gray-item p {
	margin: 0;
	margin-top: 23px;
}
.gray-item {
	background-color: var(--advantages-color);
	padding-bottom: 54px;
}
.advantages img {
	width: 800px;
	height: 256px;
}
/*SEARCH HOTELS. Блок "Заинтересовались?"*/
.reservation-section {
	position: relative;
}
h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	color: var(--heading-color);
	text-align: center;
	margin: 0;
	margin-bottom: 32px;
}
.reservation-title {
	margin-top: 57px;
	margin-bottom: 32px;
}
.reservation {
	line-height: 25px;
	text-align: center;
	color: var(--heading-color);
	margin: 0 auto;
	padding-bottom: 44px;
}
.city-map {
	position: absolute;
	top: 236px;
	z-index: 0;
}
/*SEARCH FORM. (Поиск гостиницы в Седоне)*/
.search-hotel {
	position: relative;
	margin: 0 auto;
	z-index: 100;
	width: 567px;
	margin-bottom: 77px;
}
.search_title {
	font-family: inherit;
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: var(--additional-color);
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	border: none;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.search_title:hover {
	background-color: var(--additional-color-darker);
}
.search_title:active {
	background-color: var(--additional-color-dark);
	color: rgba(255, 255, 255, 0.3);
}
.search_form {
	width: 100%;
	height: 395px; /*Высоту задала временно!*/
	background-color: var(--accent-color);
}
.search_form p {
	margin: 0;
}
.search_form label {
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
}
.search_form input {
	background-color: var(--form-color);
	border: 0;
	line-height: 26px;
	color: var(--heading-color);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.search_form input:hover {
	background-color: var(--form-color-darker);
}
.search_form input:focus {
	box-sizing: border-box;
	background-color: var(--accent-color);
	border: 2px solid #E5E5E5;
}
.change_btn {
	font: inherit;
	background-color: var(--form-color);
	border: none;
}
.search_btn {
	font: inherit;
	background-color: var(--selection-color);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	border: none;
	color: var(--accent-color);
	text-transform: uppercase;
}
/*FILTER & SORT*/
/*filter*/
.filter-form {
	display: flex;
	justify-content: space-between;
	background-image: url("../img/filter-background.jpg");
	color: var(--accent-color);
	padding: 26px 72px 32px 72px;
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
 .value-list {
 	margin: 0;
 	padding: 0;
 }

.filter-form legend {
	font-size: 16px;
	font-weight: bold;
}
.filter-form input[type=text] {
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: transparent;
}
.filter-btn {
	color: inherit;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid var(--accent-color);
	border-radius: 2px;
}
.filter-btn:hover {
	background-color: var(--accent-color);
	color: var(--heading-color);
}
/*sort*/
.sort {
	display: flex;
	align-items: center;
}
.sort-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
	margin: 0;
	margin-top: 30px;
	margin-right: 46px;
}
.sort-options {
	display: flex;
	margin-right: auto;
	margin-top: 15px;
	font-size: 12px;
	line-height: 18px;
	color: var(--heading-color);
}
.sort-options a {
	color: var(--active-link-color);
	border-bottom: 1px dashed var(--selection-color);
}
.sort-options a:hover {
	color: var(--selection-color);
}
.sort-options a:active {
	color: var(--heading-color);
	border: none;
}
a.active {
	color: var(--selection-color);
	border: none;
}
.value-sort {
	display: flex;
}
.value-sort li {
	margin-right: 33px;
}
/*FOOTER*/
.main-footer {
	width: 100%;
	display: grid;	
	grid-template-columns: 400px 400px 400px;
	padding-top: 24px;
	padding-bottom: 28px;
	background-color: var(--accent-color);
	opacity: 0.9;
}
/*Блок 1*/
.contacts {
	text-align: center;
	padding-left: 74px;
}
.contacts p {
	margin: 0;
	margin-bottom: 9px;
}
.contacts a {
	color: var(--heading-color);
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}
/*Блок 2*/
.social {
	display: flex;
	justify-content: center;
}
.social_btn {
	display: inline-block;
	background-color: var(--selection-color);
	width: 46px;
	height: 48px;
	margin-right: 6px;
	margin-top: 11px;
}
.social-twitter {
	margin-left: 9px;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social-facebook {
	background-image: url(../img/facebook.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social-youtube {
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social_btn:hover {
	background-color: var(--selection-color-darker);
}
.social_btn:active {
	background-color: var(--selection-color-dark);
}
/*Блок 3*/
.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	padding-right: 69px;
}

.copyright span{
	line-height: 26px;
	color: var(--heading-color);
	margin-right: 8px;
}
.copyright a {
	display: inline-block;


}
/*HOTEL CARD*/
.hotel_item {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--border-color);
	padding: 25px 72px 30px 73px;
}
.hotel_card {
	margin-right: auto;
	align-self: flex-start;
}
.hotel_foto {
	margin-top: 5px;
	margin-right: 30px;
}
.hotel_title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}
.hotel_title a {
	color: var(--heading-color);
}
.hotel_title a:hover {
	color: var(--selection-color);
}
.hotel_title a:active {
	color: var(--active-link-color);
}
.hotel_description {
	margin: 0;
}
.btn {
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent-color);
}
.btn_info {
	background-color: var(--selection-color);
}
.btn_info:hover {
	background-color: var(--selection-color-darker);
}
.btn_info:active {
	background-color: var(--selection-color-dark);
}
.btn_order {
	background-color: var(--additional-color);	
}
.btn_order:hover {
	background-color: var(--additional-color-darker);
}
.btn_order:active {
	background-color: var(--additional-color-dark);
}











