:root {
	--basic-color: #333333;
	--heading-color: #000000;
	--active-link-color: rgba(0, 0, 0, 0.3);
	--accent-color: #FFFFFF;
	--selection-color: #81B3D2;
	--selection-color-darker: #669EC0;
	--selection-color-dark: #5496BD;
	--additional-color: #766357;
	--additional-color-darker: #604E43;
	--additional-color-dark:#503E33;
	--form-color: #F2F2F2;
	--form-color-darker: #EBEBEB;
	--advantages-color: #EEEEEE;
	--border-color: #E5E5E5;
}
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--basic-color);
	background-color: #dcdcdc;
	text-transform: uppercase;

}
.popup {
	display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.wrapper {
	width: 1200px;
	margin: 0px auto;
	background-color: var(--accent-color);
}
.wrapper-intro {
	width: 1054px;
	margin: 0px auto;
}

li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
/*HEADER*/
nav {
	position: relative;
}
.logo {
	position: absolute;
	left: 530px;
}
.main-nav {
	width: 1054px;
	margin: 0px auto;	
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 26px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;	
}
.main-nav li:nth-child(2) {
	margin-right: 260px ;
}
.main-nav a {
	color: var(--heading-color);
}
.main-nav a:focus,
.main-nav a:hover {
	color: var(--selection-color);
}
.main-nav a:active {
	color: var(--active-link-color);
}
.main-nav a:not([href]) {
	color: var(--additional-color);
}
.welcome {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
}
.welcome img {
	width: 458px;
	height: 352px;
	margin-top: 74px;
	margin-bottom: 80px;
}
/*MAIN*/
h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--heading-color);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.main-title {
	margin-top: 40px;
	margin-left: 365px;
	margin-right: 365px;
	margin-bottom: 43px;
}
.description {
	margin: 0;
	line-height: 26px;
	text-align: center;
}
/*ADVANTAGES*/
.advantages {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	margin-top: 51px;
}
.image1 {
	grid-column-start: 2;
	grid-column-end: 4;
}
.image2 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.advantages-item {
	width: 400px;
	text-align: center;
}
.advantages-item h3{
	font-size: 21px;	
}
.selection-item {
	background-color: var(--selection-color);
	color: var(--accent-color);
}
.gray-item {
	background-color: var(--advantages-color);
}
.advantages img {
	width: 800px;
	height: 256px;
}
/*SEARCH HOTELS*/
h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	color: var(--heading-color);
	text-align: center;
	margin: 0;
}
.reservation-title {
	margin-top: 58px;
	margin-bottom: 30px;
}
.reservation {
	line-height: 24px;
	text-align: center;
	color: var(--heading-color);
	margin-left: 383px;
	margin-right: 382px;
	margin-bottom: 130px;
}
/*SEARCH FORM(Поиск гостиницы в Седоне)*/
.search_title {
	font-family: inherit;
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: var(--additional-color);
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	border: none;
}
.search_title:hover {
	background-color: var(--additional-color-darker);
}
.search_title:active {
	background-color: var(--additional-color-dark);
	color: rgba(255, 255, 255, 0.3);
}
.search_form label {
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
}
.search_form input {
	background-color: var(--form-color);
	border: 0;
	line-height: 26px;
	color: var(--heading-color);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.search_form input:hover {
	background-color: var(--form-color-darker);
}
.search_form input:focus {
	box-sizing: border-box;
	background-color: var(--accent-color);
	border: 2px solid #E5E5E5;
}
.change_btn {
	font: inherit;
	background-color: var(--form-color);
	border: none;
}
.search_btn {
	font: inherit;
	background-color: var(--selection-color);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	border: none;
	color: var(--accent-color);
	text-transform: uppercase;
}
/*FILTER & SORT*/
/*filter*/
.filter-form {
	background-color: #5496BD;/*Временно, чтобы был виден шрифт*/
	color: var(--accent-color);
}
.filter-form legend {
	font-size: 16px;
	font-weight: bold;
}
.filter-form input[type=text] {
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: transparent;
}
.filter-btn {
	color: inherit;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid var(--accent-color);
	border-radius: 2px;
}
.filter-btn:hover {
	background-color: var(--accent-color);
	color: var(--heading-color);
}
/*sort*/
.sort-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
}
.sort-options {
	font-size: 12px;
	line-height: 18px;
	color: var(--heading-color);
}
.sort-options a {
	color: var(--active-link-color);
	border-bottom: 1px dashed var(--selection-color);
}
.sort-options a:hover {
	color: var(--selection-color);
}
.sort-options a:active {
	color: var(--heading-color);
	border: none;
}
a.active {
	color: var(--selection-color);
	border: none;
}

/*FOOTER*/
.footer-intro {
	display: grid;
	grid-template-columns: auto auto auto;

}
.contacts {
	margin-top: 18px;
	margin-left: 60px;
}
.contacts p {
	margin: 0;
	margin-bottom: 9px;
}
.hashtag a,
.tel a {
	color: var(--heading-color);
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}
.social-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 30px;

}
.social_btn {
	display: inline-block;	
	background-color: var(--selection-color);
	width: 46px;
	height: 48px;
	text-align: center;
	margin-right: 6px;
}
.social_btn img {
	padding-top: 15px;
}
.social_btn:hover {
	background-color: var(--selection-color-darker);
}
.social_btn:active {
	background-color: var(--selection-color-dark);
}

.copyright p{
	line-height: 26px;
	color: var(--heading-color);
}
/*HOTEL CARD*/
.hotel_item {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--border-color);
	padding: 25px 72px 30px 73px;
}
.hotel_card {
	margin-right: auto;
	align-self: flex-start;
}
.hotel_foto {
	margin-top: 5px;
	margin-right: 30px;
}
.hotel_title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}
.hotel_title a {
	color: var(--heading-color);
}
.hotel_title a:hover {
	color: var(--selection-color);
}
.hotel_title a:active {
	color: var(--active-link-color);
}
.hotel_description {
	margin: 0;
}
.btn {
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent-color);
}
.btn_info {
	background-color: var(--selection-color);
}
.btn_info:hover {
	background-color: var(--selection-color-darker);
}
.btn_info:active {
	background-color: var(--selection-color-dark);
}
.btn_order {
	background-color: var(--additional-color);	
}
.btn_order:hover {
	background-color: var(--additional-color-darker);
}
.btn_order:active {
	background-color: var(--additional-color-dark);
}











