:root {
	--basic-color: #333333;
	--heading-color: #000000;
	--accent-color: #ffffff;
	--selection-color: #81B3D2;
	--selection-color-darker: #669EC0;
	--selection-color-dark: #5496BD;
	--additional-color: #766357;
	--additional-color-darker: #604E43;
	--additional-color-dark:#503E33; ;
	--form-color: #F2F2F2;
	--form-color-darker: #EBEBEB;;
}
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--basic-color);
	background-color: #dcdcdc;
	text-transform: uppercase;

}
.wrapper {
	width: 1200px;
	margin: 0px auto;
	background-color: var(--accent-color);
}

li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
/*HEADER*/
.main-nav {
	line-height: 26px;
	font-weight: bold;
	
}
.main-nav a {
	color: var(--heading-color);
}
.main-nav a:focus,
.main-nav a:hover {
	color: var(--selection-color);
}
.main-nav a:active {
	color: rgba(0, 0, 0, 0.3)
}
.main-nav a:not([href]) {
	color: var(--additional-color);
}
/*MAIN*/
h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--heading-color);
	text-transform: uppercase;
	text-align: center;
}
p.description {
	line-height: 26px;
	text-align: center;
}
/*SEARCH HOTELS*/
h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	color: var(--heading-color);
	text-align: center;
}
p.reservation {
	line-height: 24px;
	text-align: center;
	color: var(--heading-color);
}
/*SEARCH FORM*/
.search_title {
	font-family: inherit;
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: var(--additional-color);
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	border: none;
}
.search_title:hover {
	background-color: var(--additional-color-darker);
}
.search_title:active {
	background-color: var(--additional-color-dark);
	color: rgba(255, 255, 255, 0.3);
}
.search_form label {
	line-height: 26px;
	font-weight: bold;
	color: var(--heading-color);
}
.search_form input {
	background-color: var(--form-color);
	border: 0;
	line-height: 26px;
	color: var(--heading-color);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.search_form input:hover {
	background-color: var(--form-color-darker);
}
.search_form input:focus {
	box-sizing: border-box;
	background-color: var(--accent-color);
	border: 2px solid #E5E5E5;
}
.change_btn {
	font: inherit;
	background-color: var(--form-color);
	border: none;
}
.search_btn {
	font: inherit;
	background-color: var(--selection-color);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	border: none;
	color: var(--accent-color);
	text-transform: uppercase;
}
/*FOOTER*/
.hashtag a,
.tel a {
	color: var(--heading-color);
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}
.social_btn img {
	background-color: var(--selection-color);
	padding: 5px;/*Добавила, чтобы просто адекватнее смотрела иконка*/
}
.social_btn img:hover {
	background-color: var(--selection-color-darker);
}
.social_btn img:active {
	background-color: var(--selection-color-dark);
}

.copyright {
	line-height: 26px;
	
	color: var(--heading-color);
}
/*HOTEL CARD*/
h3.hotel_title {
	font-size: 21px;
	line-height: 26px;
	
}
h3.hotel_title a {
	color: var(--heading-color);
}
h3.hotel_title a:hover {
	color: var(--selection-color);
}
h3.hotel_title a:active {
	color: rgba(0, 0, 0, 0.3);
}
.btn {
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent-color);
}
.btn_info {
	background-color: var(--selection-color);
}
.btn_info:hover {
	background-color: var(--selection-color-darker);
}
.btn_info:active {
	background-color: var(--selection-color-dark);
}
.btn_order {
	background-color: var(--additional-color);	
}
.btn_order:hover {
	background-color: var(--additional-color-darker);
}
.btn_order:active {
	background-color: var(--additional-color-dark);
}











